#wrapper, #header, #footer {
    width: 595px !important;
}

#searchbar, .searchhint {
	    max-width: 595px !important;
}

#at-share-dock{
	max-width: 595px !important;
}

.at-share-dock-outer, #at-expanded-menu-host{
    width: 595px !important;
}

#menu ul {
	    font-size: 19px !important;
}

#menu li a {
	    margin-left: 46px !important;
}

.logo img {
	height: 97px;
}

img {
	max-width: 545px !important;
	max-height: 545px !important;
}

.contenttitle{
	    font-size: 45px !important;
}

.contentpost{
	    font-size: 25px !important;
}

.commentbox {
	    width: 92%;
}

.commentnumber, .commentname {
	font-size: 30px !important;
	}
	
#postcomment. #commentwarning {
	    width: 93% !important;
    display: table;
}

.contentcategory {
	    width: 97%;
    display: table;
}

#searchbar {
    font-size: 33px !important;
    height: 45px !important;
}

.searchhint{
        font-size: 18px !important;
        top: 45px !important;
}

iframe {
	width: 480px !important;
}

.contentpostscroll, ins{
    width: 565px !important;
}

#subtextbox {
	width: 87% !important;
}

.commentrelies {
    margin-right: 15px !important;
}
