html, body {
	font-family: Tahoma;
	height: 100%;
	width: 100%;
	margin: 0;
	display:table;
}

#uploadform, #uploadimage{
	    margin-bottom: 20px;
}

#wrapper {
	width: 100%;
display: table;
}

#main {
}

.content{
padding: 20px;
width: 100%;
	}

.buttonsfix {
    margin-left: 10px;
}
	
.directory {
padding-left: 20px;
padding-right: 20px;
}

.directorylink{
color: #000;
}

.diractive{
	    background-color: blue;
    color: #fff;
}

.diractive a{
	color:#fff
}

#dirbrowse {
	border-right: 1px solid #b9b7b7;
    background-color: #efefef;
    height: 100%;
	float:left;
}

#fileslist{
	display:table;
}

.file{
    display: inline-block;
    padding: 20px;
}

.active{
    background-color: blue;
    color: #fff;
}

.imagename {
	text-align:center;
}

.dircontent{
	padding-top: 20px;
}
	
.button {
    border: 1px solid black;
    padding: 5px;
    background-image: linear-gradient(to bottom, #efefef, #b9b9b9);
    color: #000;
    text-decoration: none;
	margin-right: 10px;
}
.buttons {
	margin-bottom: 20px;
	position: relative;
    left: 20px;
}

#upload {
	    display: none; /* Hidden by default */
}

#addfolder{
	    display: none; /* Hidden by default */
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    display: table;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.progress {
  width: 100%;
  height: 10px;
}

.progress-wrap {
  background: #09d40f;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background: #ddd;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

.error {
    margin: auto;
    background-color: #ffbcbc;
    border: 1px solid #f53e3e;
    padding: 4px;
    position: relative;
    top: 9px;
	}
	
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}