body,html{
    font-size: 20px;
    font-family: Arial;
}

#setup {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
	width: 80%;
	margin:auto;
}

#setup li {
	    text-align: left;
}

#setup2 input {
    font-size: 25px;
    width: 20%;
}

#setup2 {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

.successmessage {
    position: fixed;
    left: 48%;
    right: 54%;
    text-align: center;
    top: 50px;
    background-color: rgb(74, 253, 0);
    display: table;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}

.error {
	background-color: #ffb8b8;
    padding: 5px;
    font-size: 25px;
    border: 1px solid;
	clear: both;
    display: table;
	margin: auto;
    margin-top: 15px;
}

.smalltext {
    font-size: 17px;
    margin-top: 10px;
}
